*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    height: 100%;
    background-image: linear-gradient(to bottom right, #ece7e3c1,#ccc0b6a8, #cbb8a8);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    background-image: radial-gradient(919px at 1.7% 6.1%, rgb(41, 58, 76) 0%, rgb(40, 171, 226) 100.2%);
    color:white;
    margin: 10px auto;
    padding: 5px 15px;
    width: fit-content;
    block-size: fit-content;
    border-radius: 5px;

    font-size: 50px;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(129, 123, 135, 0.35),
                 3px 4px 4px rgba(115, 109, 122, 0.3),
                 4px 6px 4px rgba(115, 109, 122, 0.25),
                 5px 8px 4px rgba(115, 109, 122, 0.15);
    box-shadow: 0px 0px 2px 2px lightgrey;
    
}

legend{
    padding:0px;
    color:black;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 0px;
}

label{
    font-weight: 500;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

fieldset{
    height: 100%;
    border: 3px solid rgb(227, 227, 227);
    border-radius: 3px;
    padding: 5px 2px;
}

input:focus{
    transform: scale(1.01);
}

.details{
    width: min(800px,90%);
    margin: 20px auto;

    border-bottom: 4px solid gray;
    border-top: 3px solid gray;
    border-radius: 25px;
    box-shadow: 0px 0px 1px 1px rgb(155, 160, 163);
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.056);
    backdrop-filter: blur(5px);
}

#container{
    width: 100%;
    margin: 8px auto;
}

#next, #prev{
    margin: 7px 20px 0px 20px;
    width: 100px;
    background-color: #003554;
    color: white;
    border: 1px solid rgba(172, 172, 172, 0.777);
    box-shadow: 1px 1px 2px 1px gray;

    font-size: larger;
    font-weight: 600;

    transition: transform 100ms ease-in;
}

#prev{
    box-shadow: -1px 1px 2px 1px gray;
}

#submit{
    width: fit-content;
    background-color: #0077b6;
    font-size: larger;
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    margin: 65px auto;
    box-shadow: 0px 0px 2px 1px rgb(81, 97, 112);
    transition: transform 100ms ease-in;
}

#next:hover, #submit:hover, #prev:hover{
    transform: scale(1.02);
}

.element-group{
    margin-top: 0px;
    min-height: 420px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgba(154, 147, 161, 0.35),
                0px 0px 8px 2px rgba(154, 147, 161, 0.3),
                0px 0px 10px 2px rgba(154, 147, 161, 0.25),
                0px 0px 12px 2px rgba(154, 147, 161, 0.15);
    background-image: linear-gradient(to right, #96a1a9 0%, #6b777b 100%);
    background-blend-mode:lighten;
}

.form-control{
    margin: 0px 10px;
    display: inline-block;
}

.form-group{
    margin: 10px;
    display: inline-block;
    width: fit-content;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.invisible-component{
    display: none;
}

.invisible-button{
    visibility: hidden;
}

#loader{
    position: fixed;
    left: 35vw;
    top: 45vh;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 650;
    padding: 8px;
    background-color: rgba(55, 55, 55, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(25px);
}