#add-education, #add-experience, #add-achievement{
    width: 50px;
    padding: 2px;
    color: black;
    background-color: rgb(198, 198, 198);
    border-color: rgb(120, 127, 129);
    border-width: 2px;
    box-shadow: 0px 0px 5px 1px gray;
    font-size: 25px;
    font-weight: 500;
}

.education, .experience, .achievement{
    margin: 10px 10px;
    margin-bottom: 35px;
    padding: 5px;
    background-color: rgb(103, 103, 103);
    box-shadow: 0px 0px 20px rgb(110, 110, 110);
    position: relative;
}

#school-name, #company-name, #field{
    width: 280px;
    transition: transform 500ms;
}
#passing-year{
    width: 180px;
    transition: transform 500ms;
}

#awards{
    width: 80%;
    transition: transform 500ms;
}

.delete{
    color: #d90429;
    width: fit-content;
    height: 30px;
    padding-top: 15px;
    position: absolute;
    top: -15px;
    left: 90%;
    transition: transform 100ms;
}

.delete:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.popup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: -8px;
    right: 0px;
    background-color: rgb(154, 165, 177);
    color: white;
    font-weight: 600;
    width: 20px;
    text-align: center;
    border-radius: 20px;
}
  
.popup .popuptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 0.73rem;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 20;
    bottom: -160%;
    margin-left: -150px;
}

.popup:hover .popuptext{
    visibility: visible;
}